body {
    background: url("https://images.unsplash.com/photo-1505506874110-6a7a69069a08?")
    no-repeat center center fixed;
    
}
.card {
    margin: auto;
    margin-bottom: 20px;
    width: 400px;
}

.jumbotron.jumbotron-fluid {
    width: 848px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.row {
    width: 900px;
    margin: auto;
}